<div>
  <div *ngIf="isShow">
    <div *ngIf="user._id!=='id'"><button style="align-items:flex-end;margin: 15px;" mat-raised-button
        (click)="showHideButton()" color="primary">Import</button>
      <button style="align-items:flex-end;margin-top: 15px;" mat-raised-button (click)="add()"
        color="primary">ADD</button></div>
    <br *ngIf="user._id==='id'">
    <h3 style="text-align: center;">Programs List</h3>

    <mat-form-field style="width: 100%">
      <input matInput placeholder="Search" value="" (keyup)='updateFilter($event)' />
    </mat-form-field>

    <ngx-datatable [rows]="rows" class="material bg-white" [limit]="8" [scrollbarH]="true"
      [columnMode]="ColumnMode.force" [rowHeight]="50" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
      [sorts]="[{ prop: 'name', dir: 'desc' }]">

      <ngx-datatable-column name="Name">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.name}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Type">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.type}}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Benifits">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.benifits}}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Status">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <mat-chip *ngIf="row.status==='active'" matTooltip="status" matTooltipPosition="above" mat-sm-chip selected
            style="background-color: green;" (click)="programActiveInActive(row)">{{row.status}}</mat-chip>
          <mat-chip *ngIf="row.status==='inactive'" matTooltip="status" matTooltipPosition="above" mat-sm-chip selected
            style="background-color: red;" (click)="programActiveInActive(row)">{{row.status}}</mat-chip>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Action">
        <ng-template let-row="row" ngx-datatable-cell-template>

          <!-- <mat-icon matTooltip="edit" matTooltipPosition="above" (click)="edit(row)">edit</mat-icon>
                <mat-icon matTooltip="delete" matTooltipPosition="above" color="warn">delete</mat-icon>
                <mat-icon matTooltip="manage" matTooltipPosition="above">open_in_new</mat-icon> -->
          <!-- <mat-icon (click)="activeSkill($event)" color="primary">edit</mat-icon> -->
          <!-- <mat-chip matTooltip="status" matTooltipPosition="above" mat-sm-chip selected
                    style="background-color: green;">active</mat-chip> -->

          <button mat-icon-button [matMenuTriggerFor]="msgMenu" class="hidden-on-open">
            <mat-icon class="text-muted">more_vert</mat-icon>
          </button>
          <mat-menu #msgMenu="matMenu">
            <button mat-menu-item (click)="edit(row)">
              <mat-icon>edit</mat-icon>Edit
            </button>
            <button mat-menu-item (click)="deleteProgram(row)">
              <mat-icon>delete</mat-icon>Delete
            </button>
            <button mat-menu-item>
              <mat-icon>open_in_new</mat-icon>Manage
            </button>

          </mat-menu>

        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
    <button style="align-items:flex-end;margin-left: 15px;" mat-raised-button (click)="back()"
      color="warn">Back</button>
  </div>
  <div *ngIf="!isShow">
    <button style="align-items:flex-end;margin: 15px;" mat-raised-button (click)="showHideButton()"
      color="primary">Back</button>

    <mat-card class="p-0">

      <mat-card-content>
        <div class="mb-1 mt-1">
          <p>Upload a profile picture</p>
          <input type="file" ng2FileSelect [uploader]="uploader" />
        </div>

        <div class="mb-1">
          <div ng2FileDrop [ngClass]="{'dz-file-over': hasBaseDropZoneOver}" [uploader]="uploader"
            (fileOver)="fileOverBase($event)" class="fileupload-drop-zone">
            Drop png/jpeg file here
          </div>
        </div>
        <table class="default-table mat-box-shadow" style="width: 100%">
          <thead>
            <tr>
              <th width="30%">Name</th>
              <th>Size</th>
              <th>Progress</th>
              <th>Status</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody *ngIf="uploader.queue.length; else tableNoData">
            <tr *ngFor="let item of uploader.queue">
              <td>{{ item?.file?.name }}</td>
              <td nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
              <td>
                <div class="progress" style="margin-bottom: 0;">
                  <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                  <mat-progress-bar class="" color="primary" mode="determinate" [value]="item.progress">
                  </mat-progress-bar>
                </div>
              </td>
              <td class="">
                <mat-icon *ngIf="item.isSuccess">check</mat-icon>
                <mat-icon *ngIf="item.isCancel" color="accent">cancel</mat-icon>
                <mat-icon *ngIf="item.isError" color="warn">error</mat-icon>
              </td>
              <td nowrap>
                <button mat-raised-button class="mat-primary" (click)="item.upload()"
                  [disabled]="item.isReady || item.isUploading || item.isSuccess">Upload</button>
                <button mat-raised-button class="mat-accent" (click)="item.cancel()"
                  [disabled]="!item.isUploading">Cancel</button>

                <button mat-raised-button class="mat-warn" (click)="item.remove()">Remove</button>
              </td>
            </tr>
          </tbody>
          <ng-template #tableNoData>
            <p [ngStyle]="{padding: '0 1.2rem'}">Queue is empty</p>
          </ng-template>
        </table>
      </mat-card-content>

    </mat-card>
  </div>
</div>