<div>


  <div *ngIf="isShow">
    <button style="align-items:flex-end;margin: 15px;" mat-raised-button (click)="showHideButton()"
      color="primary">Import</button>
    <button style="align-items:flex-end;margin-top: 15px;" mat-raised-button (click)="add()"
      color="primary">ADD</button>
    <h3 style="text-align: center;">Providers List</h3>


    <!-- <mdb-icon fas icon="search" aria-hidden="true"></mdb-icon> -->
    <!-- <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search" aria-label="Search" mdbInput> -->
    <!-- <div class="app-loader">
      <div class="spinner">
          <div class="double-bounce1 mat-bg-primary" style="background: #fcc02e;"></div>
          <div class="double-bounce2 mat-bg-accent" style="background: #03a9f4;"></div>
      </div>
  </div> -->
    <mat-form-field class="margin-333" style="width: 100%;margin-top:20px;">
      <input matInput placeholder="Search" value="" (keyup)='updateFilter($event)'>
    </mat-form-field>
    <ngx-datatable [rows]="rows" class="material bg-white" [limit]="8" [scrollbarH]="true" [rowHeight]="50"
      [columnMode]="ColumnMode.force" [headerHeight]="50" [footerHeight]="50" [sorts]="[{ prop: 'name', dir: 'desc' }]">
      <ngx-datatable-column name="First Name">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.firstName}}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Last Name">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.lastName}}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Email">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.email}}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Phone No.">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.phoneNumber}}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Status">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <mat-chip *ngIf="row.isActivated===true" matTooltip="status" matTooltipPosition="above" mat-sm-chip selected
            style="background-color: green;" (click)="providerActiveInActive(row)">active</mat-chip>
          <mat-chip *ngIf="row.isActivated===false" matTooltip="status" matTooltipPosition="above" mat-sm-chip selected
            style="background-color: red;" (click)="providerActiveInActive(row)">inActive</mat-chip>
        </ng-template>
      </ngx-datatable-column>


      <!-- 
      <ngx-datatable-column name="Tier">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.tier}}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Website">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.website}}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Awards">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.awards}}
        </ng-template>
      </ngx-datatable-column> -->


      <ngx-datatable-column name="Verification">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <button mat-icon-button [matMenuTriggerFor]="varMenu" class="hidden-on-open">
            <mat-icon class="text-muted">info</mat-icon>
          </button>
          <mat-menu #varMenu="matMenu">
            <button mat-menu-item>
              <mat-icon>refresh</mat-icon>In review
            </button>
            <button mat-menu-item>
              <mat-icon>unpublished</mat-icon>Unverified
            </button> <button mat-menu-item>
              <mat-icon>verified_user</mat-icon>Verified
            </button> <button mat-menu-item>
              <mat-icon>done_all</mat-icon>Publised
            </button>
          </mat-menu>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Action">

        <ng-template let-row="row" ngx-datatable-cell-template>
          <!-- <mat-icon matTooltip="edit" matTooltipPosition="above" (click)="edit(row)">edit</mat-icon>
          <mat-icon matTooltip="delete" matTooltipPosition="above" color="warn">delete</mat-icon>
          <mat-icon matTooltip="signout" matTooltipPosition="above" >dynamic_feed</mat-icon>
          <mat-icon matTooltip="manage" matTooltipPosition="above" (click)="providerProfile(row)">open_in_new
          </mat-icon> -->

          <!-- <mat-icon (click)="activeSkill($event)" color="primary">edit</mat-icon> -->
          <button mat-icon-button [matMenuTriggerFor]="msgMenu" class="hidden-on-open">
            <mat-icon class="text-muted">more_vert</mat-icon>
          </button>
          <mat-menu #msgMenu="matMenu">
            <button mat-menu-item (click)="edit(row)">
              <mat-icon>edit</mat-icon>Edit
            </button>
            <button mat-menu-item (click)="deleteProvider(row)">
              <mat-icon>delete</mat-icon>Delete
            </button>
            <button mat-menu-item>
              <mat-icon>dynamic_feed</mat-icon>Logout
            </button>
            <button mat-menu-item (click)="providerProfile(row)">
              <mat-icon>open_in_new</mat-icon>Manage
            </button>

          </mat-menu>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>

  <div *ngIf="!isShow">
    <button style="align-items:flex-end;margin: 15px;" mat-raised-button (click)="showHideButton()"
      color="primary">Back</button>

    <mat-card class="p-0">

      <mat-card-content>
        <div class="mb-1 mt-1">
          <p>Upload a profile picture</p>
          <input type="file" ng2FileSelect [uploader]="uploader" />
        </div>

        <div class="mb-1">
          <div ng2FileDrop [ngClass]="{'dz-file-over': hasBaseDropZoneOver}" [uploader]="uploader"
            (fileOver)="fileOverBase($event)" class="fileupload-drop-zone">
            Drop png/jpeg file here
          </div>
        </div>
        <table class="default-table mat-box-shadow" style="width: 100%">
          <thead>
            <tr>
              <th width="30%">Name</th>
              <th>Size</th>
              <th>Progress</th>
              <th>Status</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody *ngIf="uploader.queue.length; else tableNoData">
            <tr *ngFor="let item of uploader.queue">
              <td>{{ item?.file?.name }}</td>
              <td nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
              <td>
                <div class="progress" style="margin-bottom: 0;">
                  <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                  <mat-progress-bar class="" color="primary" mode="determinate" [value]="item.progress">
                  </mat-progress-bar>
                </div>
              </td>
              <td class="">
                <mat-icon *ngIf="item.isSuccess">check</mat-icon>
                <mat-icon *ngIf="item.isCancel" color="accent">cancel</mat-icon>
                <mat-icon *ngIf="item.isError" color="warn">error</mat-icon>
              </td>
              <td nowrap>
                <button mat-raised-button class="mat-primary" (click)="item.upload()"
                  [disabled]="item.isReady || item.isUploading || item.isSuccess">Upload</button>
                <button mat-raised-button class="mat-accent" (click)="item.cancel()"
                  [disabled]="!item.isUploading">Cancel</button>

                <button mat-raised-button class="mat-warn" (click)="item.remove()">Remove</button>
              </td>
            </tr>
          </tbody>
          <ng-template #tableNoData>
            <p [ngStyle]="{padding: '0 1.2rem'}">Queue is empty</p>
          </ng-template>
        </table>
      </mat-card-content>

    </mat-card>
  </div>
</div>