@import "signup-2";
@import "signup-3";
@import "signup-4";

// COMMON CSS
/*---- Session (Sign in, sign up, forgot, lockscreen) -----*/
.page-wrap {
  display: flex;
  align-items: center;
  padding: 40px 1rem;
  height: 100%;
}


.mat-form-field-underline {
  background-color: rgba(0,0,0,.42);
  height: 1px;
  bottom: 1.25em;
  position: absolute;
  width: 100%;
 
  
} 

.mat-progress-bar-fill::after {
  background-color: #10174c;
}

.mat-progress-bar-buffer {
  background-color: #b7b9c9;
}

.session-form-hold {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.mat-card{
  background: white;
   margin: 0; 
  }



.session-lockscreen {
  max-width: 320px;
}

// .lo.lockscreen-user {
//   text-align: center;
//   margin-bottom: 1rem;
//   display: flow-root;
//   overflow: hidden;
// }ckscreen-face {
//   max-width: 72px;
//   max-height: 72px;
//   border-radius: 50%;
//   margin-bottom: .5rem;
// }
.mat-form-field-flex {
  display: inline-flex;
  align-items: baseline;
  box-sizing: border-box;
  width: 100%;
}
 





.mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: #ffc107;
}

.mat-raised-button[disabled]{
  background-color: rgba(0, 0, 0, 0.12);
  }

.mat-raised-button[disabled][disabled]{
  color: rgba(0, 0, 0, 0.26);
 
  
}

.mat-raised-button{
  background-color: #10174c;
   border-radius: 4px;
  }

  

.mat-raised-button.mat-primary{
  color: rgba(255, 255, 255, 0.87);
}