@import "signup-2";
@import "signup-3";
@import "signup-4";

// COMMON CSS
/*---- Session (Sign in, sign up, forgot, lockscreen) -----*/
.page-wrap {
  display: flex;
  align-items: center;
  padding: 40px 1rem;
  height: 100%;
}
.session-progress {
  position: relative;
  bottom: -4px;
  z-index: 9999;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.session-form-hold {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  font-size: inherit;
  font-weight: 400;
  line-height: 1.125;
  font-family: Roboto,"Helvetica Neue",sans-serif;
}
.session-form-hold > .mat-card {
  margin: 0;    
}
.session-lockscreen {
  max-width: 320px;
}
.lockscreen-user {
  text-align: center;
  margin-bottom: 1rem;
  display: flow-root;
  overflow: hidden;
}
.lockscreen-face {
  max-width: 72px;
  max-height: 72px;
  border-radius: 50%;
  margin-bottom: .5rem;
}





.mat-form-field-wrapper {
  padding-bottom: 1.25em;
}

.mat-form-field-underline {
  background-color: rgba(0,0,0,.42);
  height: 1px;
  bottom: 1.25em;
  position: absolute;
  width: 100%;
 
  
} 

.mat-form-field-flex {
  display: inline-flex;
  align-items: baseline;
  box-sizing: border-box;
  width: 100%;
}

.mat-progress-bar-buffer {
  background-color: #b7b9c9;
}
 
  .mat-card {
    transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
    display: block;
    position: relative;
    padding: 16px;
    border-radius: 4px;
    color: rgba(0, 0, 0, 0.87);
    background-color: #fafafa;
    margin: 0;    
}
.session-lockscreen {
  max-width: 320px;
}
.lockscreen-user {
  text-align: center;
  margin-bottom: 1rem;
  display: flow-root;
  overflow: hidden;
}
.lockscreen-face {
  max-width: 72px;
  max-height: 72px;
  border-radius: 50%;
  margin-bottom: .5rem;
}