<mat-card class="p-0">
    <mat-card-title class="">
        <div class="card-title-text">Provider Form</div>
        <mat-divider></mat-divider>
    </mat-card-title>
    <mat-card-content>
        <form [formGroup]="providerForm" (ngSubmit)="onSubmit()">
            <div fxLayout="row wrap">
                <div fxFlex="100" fxFlex.gt-xs="50" class="pr-1">
                    <div class="pb-1">
                        <mat-form-field class="full-width">
                            <input matInput name="fname" placeholder="First name"
                                [formControl]="providerForm.controls['firstName']" [(ngModel)]="user.firstName"
                                required>
                        </mat-form-field>
                    </div>
                    <div class="pb-1">
                        <mat-form-field class="full-width">
                            <input matInput type="email" name="email" placeholder="Your Email"
                                [formControl]="providerForm.controls['email']" [(ngModel)]="user.email" required>
                        </mat-form-field>
                    </div>
                    <div class="pb-1">
                        <mat-form-field class="full-width">
                            <mat-label>Sex</mat-label>
                            <mat-select name="sex" [formControl]="providerForm.controls['sex']" [(ngModel)]="user.sex"
                                required>
                                <mat-option value="male" selected>male</mat-option>
                                <mat-option value="female">female</mat-option>

                            </mat-select>
                        </mat-form-field>
                    </div>
                    <!-- <div class="pb-1">
                        <mat-form-field class="full-width">
                            <input matInput name="twitter" placeholder="Twitter (http://example.com)"
                                [formControl]="providerForm.controls['twitter']" [(ngModel)]="user.twitter">
                        </mat-form-field>
                    </div> -->
                    <div class="pb-1">
                        <mat-form-field class="full-width">
                            <input matInput name="youtube" placeholder="Youtube (http://example.com)"
                                [formControl]="providerForm.controls['youtube']" [(ngModel)]="user.youtube">
                        </mat-form-field>
                    </div>
                    <!-- <div class="pb-1">
                        <mat-form-field class="full-width">
                            <input matInput name="working_from" placeholder="Working From" [formControl]="providerForm.controls['firstName']" [(ngModel)]="user.firstName">
                        </mat-form-field>
                    </div> -->
                    <!-- <div class="pb-1">
                        <mat-form-field class="full-width">
                            <input matInput name="awards" placeholder="Awards" [formControl]="providerForm.controls['firstName']" [(ngModel)]="user.awards">
                        </mat-form-field>
                    </div> -->
                    <div class="pb-1">
                        <mat-form-field class="full-width">
                            <input matInput name="taxNumber" placeholder="Tax Number"
                                [formControl]="providerForm.controls['taxNumber']" [(ngModel)]="user.taxNumber">
                        </mat-form-field>
                    </div>
                    <div class="pb-1">
                        <mat-form-field class="full-width">
                            <input matInput name="instagram" placeholder="Instagram (http://example.com)"
                                [formControl]="providerForm.controls['instagram']" [(ngModel)]="user.instagram">
                        </mat-form-field>
                    </div>
                    <!-- <div class="pb-1">
                        <mat-form-field class="full-width">
                            <input matInput name="is_associate" placeholder="Is Associate" value="">
                        </mat-form-field>
                    </div> -->
                </div>
                <div fxFlex="100" fxFlex.gt-xs="50" class="pr-1">
                    <div class="pb-1">
                        <mat-form-field class="full-width">
                            <input matInput name="lname" placeholder="Last name"
                                [formControl]="providerForm.controls['lastName']" [(ngModel)]="user.lastName">
                        </mat-form-field>
                    </div>
                    <div class="pb-1">
                        <mat-form-field class="full-width">
                            <input matInput name="phoneNumber" placeholder="Phone number"
                                [formControl]="providerForm.controls['phoneNumber']" [(ngModel)]="user.phoneNumber">
                        </mat-form-field>
                    </div>
                    <div class="pb-1">
                        <mat-form-field class="full-width">
                            <input matInput name="facebook" placeholder="Facebook (http://example.com)"
                                [formControl]="providerForm.controls['facebook']" [(ngModel)]="user.facebook">
                        </mat-form-field>
                    </div>

                    <div class="pb-1">
                        <mat-form-field class="full-width">
                            <input matInput name="website" formControlName="website"
                                placeholder="Your Website (http://example.com)"
                                [formControl]="providerForm.controls['website']" [(ngModel)]="user.website">
                        </mat-form-field>
                    </div>
                    <div class="pb-1">
                        <mat-form-field class="full-width">
                            <input matInput name="tier" placeholder="Tier" value="">
                        </mat-form-field>
                    </div>
                    <div class="pb-1">
                        <mat-form-field class="full-width">
                            <input matInput name="provider_other_locations" placeholder="Provider Other Locations"
                                value="">
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <button mat-raised-button color="warn" (click)="back()">Back</button>
            <button style="align-items:flex-end;margin-left: 15px;" mat-raised-button color="primary"
                [disabled]="providerForm.invalid">Submit</button>
        </form>
    </mat-card-content>
</mat-card>