<div class="mat-box-shadow margin-333">
  <ngx-datatable class="material bg-white" 
  [columnMode]="'force'"  
  [headerHeight]="50"
  [footerHeight]="50" 
  [rowHeight]="50"
  [limit]="8"
  [rows]="rows"
  [scrollbarH]="true"
  [columns]="columns">
  </ngx-datatable>
</div>
