<div class="mat-box-shadow margin-333">
  <ngx-datatable class="material bg-white" 
  [columnMode]="'force'"  
  [headerHeight]="50"
  [footerHeight]="50" 
  [rowHeight]="50"
  [limit]="8"
  [rows]="rows"
  [scrollbarH]="true"
  [columns]="columns">

  
    <ng-template ngx-datatable-cell-template let-value="value">
        <span>
            <button class="optionButton" type="button" data-toggle="modal" data-target="#addOption">Reserve Product</button>
         </span>
    </ng-template>

  
 
  </ngx-datatable>

   
    

</div>