<h1 matDialogTitle>Add Batch</h1>
<form>
  <div fxLayout="row wrap" fxLayout.lt-sm="column">
    <mat-form-field class="full-width">
      <input matInput name="batchname" placeholder="BATCH NAME" [(ngModel)]="batch.name">
    </mat-form-field>

    <mat-form-field class="full-width">
      <input matInput name="date1" type="date" placeholder="START DATE" [(ngModel)]="startDate">
    </mat-form-field>


    <mat-form-field class="full-width">
      <input matInput name="date2" type="date" placeholder="END DATE" [(ngModel)]="endDate">
    </mat-form-field>


    <mat-form-field class="full-width">
      <input matInput name="time1" type="time" placeholder="START TIME" [(ngModel)]="batch.startTime">
    </mat-form-field>



    <mat-form-field class="full-width">
      <input matInput name="time2" type="time" placeholder="END TIME" [(ngModel)]="batch.endTime">
    </mat-form-field>

    <div fxLayout="row">
      <button [disabled]="!batch.name" mat-raised-button (click)="submit()" color="primary">ADD</button>
      <span fxFlex="8px"></span>

      <button mat-raised-button color="warn" (click)="dialogRef.close(false)">CANCLE</button>
    </div>
  </div>
</form>