<div>
  <h3 style="text-align: center;">Program Reports</h3>
  <mat-form-field style="width: 100%">
    <input matInput placeholder="Search" value="" (keyup)='updateFilter($event)' />
  </mat-form-field>
  <div class="pb-1">
    <label>Date Filter</label>
    <mat-form-field class="full-width">
      <input matInput name="date1" placeholder="From" [matDatepicker]="appDatepicker1">
      <mat-datepicker-toggle matSuffix [for]="appDatepicker1"></mat-datepicker-toggle>
    </mat-form-field>
    <mat-datepicker #appDatepicker1></mat-datepicker>
    <mat-form-field class="full-width">
      <input matInput name="date2" placeholder="TO" [matDatepicker]="appDatepicker">
      <mat-datepicker-toggle matSuffix [for]="appDatepicker"></mat-datepicker-toggle>
    </mat-form-field>
    <mat-datepicker #appDatepicker></mat-datepicker>
    <button style="margin-left: 15px;" mat-raised-button color="primary">Show</button>
  </div>
  <ngx-datatable [rows]="rows" class="material bg-white" [limit]="8" [scrollbarH]="true" [rowHeight]="50"
    [columnMode]="ColumnMode.force" [headerHeight]="50" [footerHeight]="50" [sorts]="[{ prop: 'name', dir: 'desc' }]">
    <ngx-datatable-column name="No">
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{row.name}}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Date">
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{row.date}}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Time">
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{row.time}}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Action">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <!-- <mat-icon matTooltip="delete" matTooltipPosition="above" color="warn">delete</mat-icon> -->
        <mat-icon matTooltip="manage" matTooltipPosition="above">open_in_new</mat-icon>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
</div>