
<div>
  <!-- <button style="align-items:flex-end;margin: 15px;" mat-raised-button (click)="showHideButton1()"
  color="accent">Import</button> -->
  <button mat-raised-button style="margin: 15px;" (click)="add()"color="primary">ADD</button>
  <h3 style="text-align: center;">Admin List</h3>
  <!-- <mdb-icon fas icon="search" aria-hidden="true"></mdb-icon> -->
  <!-- <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search" aria-label="Search" mdbInput> -->
  <!-- <div class="app-loader">
      <div class="spinner">
          <div class="double-bounce1 mat-bg-primary" style="background: #fcc02e;"></div>
          <div class="double-bounce2 mat-bg-accent" style="background: #03a9f4;"></div>
      </div>
  </div> -->
  <mat-form-field  style="width: 100%">
      <input matInput placeholder="Search" value="" (keyup)='updateFilter($event)' />
  </mat-form-field>

  <ngx-datatable [rows]="rows" class="material bg-white" [limit]="8" [scrollbarH]="true"
      [columnMode]="ColumnMode.force" [rowHeight]="50" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
      [sorts]="[{ prop: 'name', dir: 'desc' }]">
      <ngx-datatable-column name="First Name">
          <!-- <ng-template let-column="column" ngx-datatable-header-template>
              First Name
          </ng-template> -->
          <ng-template let-row="row" ngx-datatable-cell-template>
              {{row.firstName}}
          </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Last Name">
          <!-- <ng-template let-column="column" ngx-datatable-header-template>
              Last Name
          </ng-template> -->
          <ng-template let-row="row" ngx-datatable-cell-template>
              {{row.lastName}}
          </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Email">
          <!-- <ng-template let-column="column" ngx-datatable-header-template>
              Email
          </ng-template> -->
          <ng-template let-row="row" ngx-datatable-cell-template>
              {{row.email}}
          </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Phone No.">
       
          <ng-template let-row="row" ngx-datatable-cell-template>
              {{row.phoneNumber}}
          </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Role">
       
        <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.role}}
        </ng-template>
    </ngx-datatable-column>


      <!-- <ngx-datatable-column>
          <ng-template let-column="column" ngx-datatable-header-template>
              Gender
          </ng-template>
          <ng-template let-row="row" ngx-datatable-cell-template>
              {{row.gender}}
          </ng-template>
      </ngx-datatable-column> -->

      <ngx-datatable-column name="Action">
          <!-- <ng-template let-column="column" ngx-datatable-header-template>
              Action
          </ng-template> -->
          <!-- <div *ngIf="isLoading">
              <div class="loader"></div>
          </div> -->
          <ng-template let-row="row" ngx-datatable-cell-template>
              <mat-icon matTooltip="edit" matTooltipPosition="above" (click)="edit(row)">edit</mat-icon>
              <mat-icon matTooltip="delete" matTooltipPosition="above" color="warn">delete</mat-icon>
              <!-- <mat-icon matTooltip="manage" matTooltipPosition="above" (click)="parentProfile(row)">open_in_new
              </mat-icon> -->
              <!-- <mat-icon (click)="activeSkill($event)" color="primary">edit</mat-icon> -->
              <!-- <mat-chip (click)="activeSkill($event)" matTooltip="status" matTooltipPosition="above" mat-sm-chip
                  selected style="background-color: green;">active</mat-chip> -->

          </ng-template>
      </ngx-datatable-column>
  </ngx-datatable>
</div>


