<div class="mat-box-shadow margin-333">
    <ngx-datatable class="material bg-white" 
    [columnMode]="'force'"  
    [headerHeight]="50"
    [footerHeight]="50" 
    [rowHeight]="50"
    [limit]="8"
    [rows]="rows"
    [scrollbarH]="true"
    [columns]="columns">
    <ng-template #buttonsTemplate let-row="row" let-value="value">
        <button class="btn btn-transparent"><i class="rb-ic rb-ic-add-frame">gggg</i></button>
      </ng-template>
    </ngx-datatable>
   
    
    </div>
   
