<div class="mat-box-shadow margin-333">
    <ngx-datatable class="material bg-white" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
        [rowHeight]="50" [limit]="8" [rows]="rows" [scrollbarH]="true" [columns]="columns">
        <ngx-datatable-column *ngFor="let column of rows; let i = index;" name="edit">
            <ng-template #buttonsTemplate let-row="column" let-value="value" ngx-datatable-cell-template>
                <button class="btn btn-transparent" (click)='onclick()'><i
                        class="rb-ic rb-ic-add-frame">gfdgdf</i></button>
            </ng-template>
        </ngx-datatable-column>
    </ngx-datatable>


    <!-- <button mat-raised-button color="primary">gfgf</button> -->

</div>