<div class="mat-box-shadow margin-333">
    <ngx-datatable class="material bg-white" 
    [columnMode]="'force'"  
    [headerHeight]="50"
    [footerHeight]="50" 
    [rowHeight]="50"
    [limit]="8"
    [rows]="rows"
    [scrollbarH]="true"
    [columns]="columns">
    <ngx-datatable-column *ngFor="let column of columns; let i = index;" name="{{column.name}}" prop="{{column.prop}}">
        <ng-template let-value="value" let-row="row" *ngIf="column.name==='Actions'" ngx-datatable-cell-template>
          <span>
            <button (click)='onclick(row)'><i class="rb-ic rb-ic-add-frame"></i></button>
          
          </span>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
   
    
    </div>
   
