<div class="mat-box-shadow margin-333">
    <ngx-datatable class="material bg-white" 
    [columnMode]="'force'"  
    [headerHeight]="50"
    [footerHeight]="50" 
    [rowHeight]="50"
    [limit]="8"
    [rows]="rows"
    [scrollbarH]="true"
    [columns]="columns">
    <ng-container matColumnDef="getdetails">
        <th mat-header-cell *matHeaderCellDef> Details </th>
        <td mat-cell *matCellDef="let element"> <button mat-raised-button color="primary" (click)="onclick(element.name)">Get Details</button> </td>
      </ng-container>
  
    </ngx-datatable>
   
    
    </div>
   
