<div class="mat-box-shadow margin-333">
    <ngx-datatable class="material bg-white" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
        [rowHeight]="50" [limit]="8" [rows]="rows" [scrollbarH]="true">

        <ngx-datatable-column *ngFor="let col of columns;" [name]="col.name">
        </ngx-datatable-column>

        <ngx-datatable-column name="Actions" *ngFor="let user of [rows];" sortable="false" prop="name">

        </ngx-datatable-column>
        <ng-template ngx-datatable-cell-template>
            <button md-icon-button (click)="edit()">
                <i class="fa fa-ban">Edit</i>
            </button>
        </ng-template>


    </ngx-datatable>


    <!-- <button mat-raised-button color="primary">gfgf</button> -->

</div>