<div class="mat-box-shadow margin-333">
    <ngx-datatable class="material bg-white" 
    [columnMode]="'force'"  
    [headerHeight]="50"
    [footerHeight]="50" 
    [rowHeight]="50"
    [limit]="8"
    [rows]="rows"
    [scrollbarH]="true"
    [columns]="columns">
    <ngx-datatable-column name="Action">
        <button md-raised-button color="warn">Delete</button>
      </ngx-datatable-column>
       
       </ngx-datatable>
       <!-- <button mat-raised-button color="primary">gfgf</button> -->
    
    </div>
   
