<ngx-datatable [rows]="rows">
    <ngx-datatable-column>
        <ng-template let-column="column" ngx-datatable-header-template>
            סמסטר
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.name}}
        </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column>
        <ng-template let-column="column" ngx-datatable-header-template>
            מפגש
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.age}}
        </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column>
        <ng-template let-column="column" ngx-datatable-header-template>
            מועד מפגש
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.email}}
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column>
        <ng-template let-column="column" ngx-datatable-header-template>
            חוג
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
            <button (click)="edit(row)"></button>
        </ng-template>
    </ngx-datatable-column>
</ngx-datatable>