<div class="mat-box-shadow margin-333">
    <div *ngFor="let user of rows" (click)="edit(user)">
        <ngx-datatable class="material bg-white" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
            [rowHeight]="50" [limit]="8" [rows]="rows" [scrollbarH]="true">

            <ngx-datatable-column *ngFor="let col of columns;" [name]="col.name">
            </ngx-datatable-column>

            <!-- <ngx-datatable-column name="Actions" sortable="false" prop="name">
                <ng-template ngx-datatable-cell-template>
                    <button md-icon-button (click)="edit(row)">
                        <i class="fa fa-ban">Edit</i>
                    </button>
                </ng-template>
            
        </ngx-datatable-column> -->


        </ngx-datatable>


        <!-- <button mat-raised-button color="primary">gfgf</button> -->
    </div>
</div>