<div class="mat-box-shadow margin-333">
    <ngx-datatable class="material bg-white" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
        [rowHeight]="50" [limit]="8" [rows]="rows" [scrollbarH]="true" [columns]="columns">
        <ngx-datatable-column [width]="30" [sortable]="false" [canAutoResize]="false" [draggable]="false"
            [resizeable]="false">
            <ng-template ngx-datatable-header-template>
                <input type="checkbox" [checked]="true" />
            </ng-template>
        </ngx-datatable-column>
        <!-- <ngx-datatable-column *ngFor="let column of columns; let i = index;">
        <ng-template #buttonsTemplate let-row="row" let-value="value" ngx-datatable-cell-template>
          <button class="btn btn-transparent" (click)='onclick()'><i class="rb-ic rb-ic-add-frame">gfdgdf</i></button>
        </ng-template>
      </ngx-datatable-column> -->
    </ngx-datatable>


    <!-- <button mat-raised-button color="primary">gfgf</button> -->

</div>