<div class="mat-box-shadow margin-333">
    <ngx-datatable class="material bg-white" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
        [rowHeight]="50" [limit]="8" [rows]="rows" [scrollbarH]="true" [columns]="columns">
        <ngx-datatable-column name="Property 2" prop="prop2"></ngx-datatable-column>
        <!-- <ngx-datatable-column [width]="30" [sortable]="false" [canAutoResize]="false" [draggable]="false"
            [resizeable]="false">

            <ng-template ngx-datatable-cell-template>
                <input type="checkbox" />
            </ng-template>
        </ngx-datatable-column> -->

    </ngx-datatable>


    <!-- <button mat-raised-button color="primary">gfgf</button> -->

</div>