<div class="mat-box-shadow margin-333">
    <ngx-datatable class="material bg-white" 
    [columnMode]="'force'"  
    [headerHeight]="50"
    [footerHeight]="50" 
    [rowHeight]="50"
    [limit]="8"
    [rows]="rows"
    [scrollbarH]="true"
    [columns]="columns">
    <ngx-datatable-column>
        <ng-template >
          <span>
            <button (click)='onclick()'><i class="rb-ic rb-ic-add-frame">fgfhfghfghf</i></button>
          </span>
        </ng-template>
      </ngx-datatable-column>
     
     
       
       </ngx-datatable>
    
       
       <!-- <button mat-raised-button color="primary">gfgf</button> -->
    
    </div>
   
