<div class="mat-box-shadow margin-333">
    <ngx-datatable class="material bg-white" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
        [rowHeight]="50" [limit]="8" [rows]="rows" [scrollbarH]="true" [columns]="columns">
        <ngx-datatable-column name="Actions" sortable="false" prop="id">
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>

                <button md-icon-button (click)="blockAgents(value)">
                    <i class="fa fa-ban"></i>
                </button>

                <button md-icon-button (click)="approveAgent(value)">
                    <i class="fa fa-check"></i>
                </button>

            </ng-template>
        </ngx-datatable-column>



    </ngx-datatable>


    <!-- <button mat-raised-button color="primary">gfgf</button> -->

</div>