

.loader {
    position: fixed;
    left:48%;
    top: 50%;
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #3f51b5;
    width: 30px;
    height: 30px;
    -webkit-animation: spin s linear infinite; /* Safari */
    animation: spin 1s linear infinite;

  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }