<div class="mat-box-shadow margin-333">
    <ngx-datatable [rows]="rows" class="material bg-white" [limit]="8" [scrollbarH]="true" [rowHeight]="50"
        [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50">
        <ngx-datatable-column>
            <ng-template let-column="column" ngx-datatable-header-template>
                Name
            </ng-template>
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.name}}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column>
            <ng-template let-column="column" ngx-datatable-header-template>
                Age
            </ng-template>
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.age}}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column>
            <ng-template let-column="column" ngx-datatable-header-template>
                Email
            </ng-template>
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.email}}
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column>
            <ng-template let-column="column" ngx-datatable-header-template>
                Company
            </ng-template>
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.company}}
            </ng-template>
        </ngx-datatable-column>


        <ngx-datatable-column>
            <ng-template let-column="column" ngx-datatable-header-template>
                Gender
            </ng-template>
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.gender}}
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column>
            <ng-template let-column="column" ngx-datatable-header-template>
                חוג
            </ng-template>
            <ng-template let-row="row" ngx-datatable-cell-template>
                <button (click)="edit(row)">
                    <i class="fa fa-ban">Edit</i></button>
            </ng-template>
        </ngx-datatable-column>
    </ngx-datatable>
</div>