<div class="mat-box-shadow margin-333">
    <!-- <mdb-icon fas icon="search" aria-hidden="true"></mdb-icon> -->
    <!-- <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search" aria-label="Search" mdbInput> -->

    <ngx-datatable [rows]="rows" *ngFor="let row of usersData" class="material bg-white" [limit]="8" [scrollbarH]="true"
        [rowHeight]="50" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50">
        <ngx-datatable-column>
            <ng-template let-column="column" ngx-datatable-header-template>
                Name
            </ng-template>
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{usersData.firstName}}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column>0
            <ng-template let-column="column" ngx-datatable-header-template>
                Age
            </ng-template>
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.age}}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column>
            <ng-template let-column="column" ngx-datatable-header-template>
                Email
            </ng-template>
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.email}}
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column>
            <ng-template let-column="column" ngx-datatable-header-template>
                Company
            </ng-template>
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.company}}
            </ng-template>
        </ngx-datatable-column>


        <ngx-datatable-column>
            <ng-template let-column="column" ngx-datatable-header-template>
                Gender
            </ng-template>
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.gender}}
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column>
            <ng-template let-column="column" ngx-datatable-header-template>
                Action
            </ng-template>
            <ng-template let-row="row" ngx-datatable-cell-template>
                <button (click)="edit(row)">
                    <i class="fa fa-ban">Edit</i></button>
            </ng-template>
        </ngx-datatable-column>
    </ngx-datatable>
</div>