<!-- <footer class="main-footer">

  <span class="m-auto"></span>
  
  <section id="lab_social_icon_footer">

    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <div class="container">
            <div class="text-center center-block">
                    <a href="www.facebook.com"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
                  <a href="www.twitter.com"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
                  <a href="www.googleplus.com"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
                  <a href="www.gmail.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
        </div>
    </div>
    </section>  
</footer> -->