
<mat-card class="p-0">
  <mat-card-title class="">
      <div class="card-title-text">
          Add Tag
      </div>
      <mat-divider></mat-divider>
  </mat-card-title>
  <mat-card-content>
      <form [formGroup]="tagForm" (ngSubmit)="onSubmit()">
          <div fxLayout="row wrap">
              <div fxFlex="100" fxFlex.gt-xs="100" class="pr-1">
                  <div class="pb-1">
                      <mat-form-field class="full-width">
                          <input matInput name="name" placeholder="Tag Name"
                          [formControl]="tagForm.controls['name']"  [(ngModel)]="addtag.name">
                      </mat-form-field>
                  </div>

                      <div class="pb-1">
                          <mat-form-field class="full-width">
                              <input matInput name="name" placeholder="Description"
                              [formControl]="tagForm.controls['description']" [(ngModel)]="addtag.description">
                          </mat-form-field>
                      </div>
                  </div>
              </div>
              <mat-form-field class="demo-chip-list">
                <mat-chip-list #chipList>
                  <mat-chip
                    *ngFor="let category of addtag.categoryIds"
                    [selectable]="selectable"
                    [removable]="removable"
                    (removed)="remove(category)">
                    {{category.name}}
                    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                  </mat-chip>
                  <input
                    placeholder="Category"
                    #categoryInput
                    [formControl]="categoryCtrl"
                    [matAutocomplete]="auto"
                    [matChipInputFor]="chipList"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    [matChipInputAddOnBlur]="addOnBlur"
                    (matChipInputTokenEnd)="add($event)"
                  />
                </mat-chip-list>
                <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                  <mat-option *ngFor="let category of filteredCategories | async" [value]="category">
                    {{ category.name }}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            
              <button mat-raised-button color="warn" (click)="back()">Back</button>
              <button style="align-items:flex-end;margin-left: 15px;"
               mat-raised-button color="primary" [disabled]="tagForm.invalid">Submit</button>
      </form>
  </mat-card-content>
</mat-card>