<mat-card class="p-0">
    <mat-card-title class="">
        <div class="card-title-text">Program Form</div>
        <mat-divider></mat-divider>
    </mat-card-title>
    <mat-card-content>
        <form [formGroup]="programForm">
            <div fxLayout="row wrap">
                <div fxFlex="100" fxFlex.gt-xs="50" class="pr-1">
                    <div class="pb-1">
                        <mat-form-field class="full-width">
                            <input matInput name="name" placeholder="Program Code" value="">
                        </mat-form-field>
                    </div>
                    <div class="pb-1">
                        <mat-form-field class="full-width">
                            <input matInput  name="links"  placeholder="Suggested Links"
                                value="">
                        </mat-form-field>
                    </div>
                    <div class="pb-1">
                        <mat-form-field class="full-width">
                            <input matInput name="count"  placeholder="View Count" value="">
                        </mat-form-field>
                    </div>



                    <div class="pb-1">
                        <mat-form-field class="full-width">
                            <input matInput name="program_content" placeholder="Program Content (json)" value="">
                        </mat-form-field>
                    </div>

                    <div class="pb-1">
                        <mat-form-field class="full-width">
                            <input matInput name="benifits" placeholder="Benifits" value="">
                        </mat-form-field>
                    </div>

                    <div class="pb-1">
                        <mat-form-field class="full-width">
                            <input matInput name="slug" placeholder="Slug" value="">
                        </mat-form-field>
                    </div>
                    <div class="pb-1">
                        <mat-form-field class="full-width">
                            <input matInput name="announcements" placeholder="Announcements" value="">
                        </mat-form-field>
                    </div>

                    <div class="pb-1">
                        <mat-form-field class="full-width">
                            <input matInput name="announcement_lastdisplay" placeholder="Announcement LastDisplay Date" value="">
                        </mat-form-field>
                    </div>

                    <div class="pb-1">
                        <mat-form-field class="full-width">
                            <input matInput name="subscription" placeholder="Subscription" value="">
                        </mat-form-field>
                    </div>

                    <div class="pb-1">
                        <mat-form-field class="full-width">
                            <input matInput name="whoshouldjoin" placeholder="Who Should Join" value="">
                        </mat-form-field>
                    </div>

                   
                </div>

                <div fxFlex="100" fxFlex.gt-xs="50" class="pr-1">

                    <div class="pb-1">
                        <mat-form-field class="full-width">
                            <input matInput name="Program_name" placeholder="Program Name" value="">
                        </mat-form-field>
                    </div>
                    <div class="pb-1">
                        <mat-form-field class="full-width">
                            <input matInput name="agegrouplimit" placeholder="Age Group Limit">
                        </mat-form-field>
                    </div>
                    <div class="pb-1">
                        <mat-form-field class="full-width">
                            <input matInput name="isrecommended" placeholder="Is Recommended" value="">
                        </mat-form-field>
                    </div>

                    <div class="pb-1">
                        <mat-form-field class="full-width">
                            <input matInput name="description" placeholder="Description" value="">
                        </mat-form-field>
                    </div>

                    <div class="pb-1">
                        <mat-form-field class="full-width">
                            <input matInput name="type" placeholder="Type (outdoor/indoor)" value="">
                        </mat-form-field>
                    </div>

                    <div class="pb-1">
                        <mat-form-field class="full-width">
                            <input matInput name="price" placeholder="Price" value="">
                        </mat-form-field>
                    </div>

                    <div class="pb-1">
                        <mat-form-field class="full-width">
                            <input matInput name="isfeatured" placeholder="Is Featured" value="">
                        </mat-form-field>
                    </div>

                    <div class="pb-1">
                        <mat-form-field class="full-width">
                            <input matInput name=gallery placeholder="P rogram Gallery" value="">
                        </mat-form-field>
                    </div>

                    <div class="pb-1">
                        <mat-form-field class="full-width">
                            <input matInput name="testimonial" placeholder="Testimonial" value="">
                        </mat-form-field>
                    </div>
                    <div class="pb-1">
                        <mat-form-field class="full-width">
                            <input matInput name="preknowledge" placeholder="Preknowledge" value="">
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <button mat-raised-button color="warn" (click)="back()">Back</button>
            <button  style="align-items:flex-end;margin-left: 15px;" mat-raised-button color="primary"
                [disabled]="programForm.invalid">Submit</button>
        </form>
    </mat-card-content>
</mat-card>