mat-card.p-0.mat-card.ng-trigger.ng-trigger-animate {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    }
    .ng-tns-c13-57.ng-trigger.ng-trigger-animate h2.ng-tns-c13-57 {
font-size: 25px;
font-weight: 400;
color: #4a4a4a;
}
.mat-border-size{
    // border-radius: 50%;
    cursor: pointer;
    height: 45%;   
}
mat-card.mat-border-size:hover{
    box-shadow: 0 10px 20px rgba(15, 15, 24, 0.19), 0 6px 6px rgba(19, 8, 44, 0.23);
}


