<!-- First row -->
<mat-card class="p-0" [@animate]="{ value: '*', params: { y: '50px', delay: '300ms' } }">
  <div fxLayout="row wrap">
    <div fxFlex="50" fxFlex.gt-sm="20" fxFlex.sm="50">
      <mat-card class="mat-border-size m-1">
        <div class="text-center pt-1 pb-1 border-right-light">
          <mat-icon class="text-blue">person</mat-icon>
          <h4 class="m-0 ">{{providers.length}}</h4>
          <small class="m-0 ">Providers </small>
        </div>
      </mat-card>
    </div>


    <div fxFlex="50" fxFlex.gt-sm="20" fxFlex.sm="50">
      <mat-card class="mat-border-size m-1">
        <div class="text-center pt-1 pb-1 border-right-light">
          <mat-icon class="text-blue">sports_kabaddi</mat-icon>
          <h4 class="m-0 ">{{this.children.length}}</h4>
          <small class="m-0 ">Children </small>
        </div>
      </mat-card>
    </div>

    <div fxFlex="50" fxFlex.gt-sm="20" fxFlex.sm="50">
      <mat-card class="mat-border-size m-1">
        <div class="text-center pt-1 pb-1 border-right-light">
          <mat-icon class="text-green">event</mat-icon>
          <h4 class="m-0 ">{{programs.length}}</h4>
          <small class="m-0 ">Programs</small>
        </div>
      </mat-card>
    </div>

    <div fxFlex="50" fxFlex.gt-sm="20" fxFlex.sm="50">
      <mat-card class="mat-border-size m-1">
        <div class="text-center pt-1 pb-1 border-right-light">
          <mat-icon class="text-blue">people</mat-icon>
          <h4 class="m-0 ">{{this.parents.length}}</h4>
          <small class="m-0 ">Parents </small>
        </div>
      </mat-card>
    </div>

    <div fxFlex="50" fxFlex.gt-sm="20" fxFlex.sm="50">
      <mat-card class="mat-border-size m-1">
        <div class="text-center pt-1 pb-1">
          <mat-icon class="text-red">people</mat-icon>
          <h4 class="m-0 ">{{parents.length+providers.length+children.length}}</h4>
          <small class="m-0 ">Total Members</small>
        </div>
      </mat-card>
    </div>
  </div>
</mat-card>
<!--/ End first row -->
<!-- 2nd, 3rd row -->
<div fxLayout="row wrap">
  <!-- <div fxFlex="100" fxFlex.gt-sm="50" fxFlex.sm="50"></div> -->
  <div fxFlex="100" fxFlex.gt-sm="33" fxFlex.sm="50"></div>
  <div fxFlex="100" fxFlex.gt-sm="33" fxFlex.sm="50">
    <!-- <mat-card > -->
    <!-- <mat-tab-group> -->
    <!-- <mat-tab style="min-width: 98px !important" label="Week"> -->
    <!-- <p class="">30 DAY USERS</p> -->
    <!-- <div echarts [options]="trafficVsSaleOptions" [merge]="trafficVsSale" [autoResize]="true"
        style="height: 255px;"></div> -->
    <!-- </mat-tab> -->
    <!-- <mat-tab style="min-width: 98px !important" label="Month"> -->
    <!-- <p class="">30 DAY USERS</p> -->
    <!-- <div echarts [options]="trafficVsSaleOptions" [merge]="trafficVsSale" [autoResize]="true"
        style="height: 255px;"></div> -->
    <!-- </mat-tab> -->
    <!-- <mat-tab style="min-width: 98px !important" label="Year"> -->
    <!-- <p class="">30 DAY USERS</p> -->
    <!-- <div echarts [options]="trafficVsSaleOptions" [merge]="trafficVsSale" [autoResize]="true"
        style="height: 255px;"></div> -->
    <!-- </mat-tab> -->
    <!-- </mat-tab-group> -->

    <!-- </mat-card> -->
  </div>
  <div fxFlex="100" fxFlex.gt-sm="33" fxFlex.sm="50">
    <mat-card [ngStyle]="{margin: '15px 0'}">
      <mat-select appDropdown placeholder="Select Week/Month/Year">
        <mat-option selected value="Week">Week</mat-option>
        <mat-option value="Month">Month</mat-option>
        <mat-option value="Year">Year</mat-option>

      </mat-select>
    </mat-card>
  </div>
  <!-- <div fxFlex="100" fxFlex.gt-sm="50" fxFlex.sm="50"></div> -->
  <div fxFlex="100" fxFlex.gt-sm="100" fxFlex.sm="50"
    [@animate]="{ value: '*', params: { y: '50px', delay: '600ms' } }">
    <mat-card class="p-0 ">
      <mat-tab-group>
        <mat-tab label="New Register Parents">
          <!-- <p class="">30 DAY USERS</p> -->
          <div echarts [options]="trafficVsSaleOptions" [merge]="trafficVsSale" [autoResize]="true"
            style="height: 255px;"></div>
        </mat-tab>
        <mat-tab label="New Register Providers">
          <!-- <p class="">30 DAY USERS</p> -->
          <div echarts [options]="trafficVsSaleOptions" [merge]="trafficVsSale" [autoResize]="true"
            style="height: 255px;"></div>
        </mat-tab>
        <mat-tab label="New Added Child">
          <!-- <p class="">30 DAY USERS</p> -->
          <div echarts [options]="trafficVsSaleOptions" [merge]="trafficVsSale" [autoResize]="true"
            style="height: 255px;"></div>
        </mat-tab>
        <mat-tab label="Profile Completed">
          <!-- <p class="">30 DAY USERS</p> -->
          <div echarts [options]="trafficVsSaleOptions" [merge]="trafficVsSale" [autoResize]="true"
            style="height: 255px;"></div>
        </mat-tab>
        <!-- <mat-tab label="Viewed Listing">
          <p class="">30 DAY USERS</p>
          <div echarts [options]="trafficVsSaleOptions" [merge]="trafficVsSale" [autoResize]="true"
            style="height: 255px;"></div>
        </mat-tab>
        <mat-tab label="Free Listing">
          <p class="">30 DAY USERS</p>
          <div echarts [options]="trafficVsSaleOptions" [merge]="trafficVsSale" [autoResize]="true"
            style="height: 255px;"></div>
        </mat-tab>
        <mat-tab label="Claimed Listing">
          <p class="">30 DAY USERS</p>
          <div echarts [options]="trafficVsSaleOptions" [merge]="trafficVsSale" [autoResize]="true"
            style="height: 255px;"></div>
        </mat-tab> -->
      </mat-tab-group>
    </mat-card>
  </div>
  <!--/ End tab -->
  <!-- Donut chart -->
  <div fxFlex="100" fxFlex.gt-sm="100" fxFlex.sm="50"
    [@animate]="{ value: '*', params: { y: '50px', delay: '400ms' } }">
    <!-- <mat-card class="p-0 ">
      <p class=" ml-1 mt-1">TRAFFIC SOURCES</p>
      <div
        echarts
        [options]="trafficSourcesChart"
        [autoResize]="true"
        style="height: 250px;"
      ></div>
    </mat-card> -->
  </div>
  <!--/ End donut chart -->
  <!--/ End 2nd row -->

  <!-- 3rd row, 1st column -->
  <div fxFlex="100" fxFlex.gt-sm="100" fxFlex.sm="50"
    [@animate]="{ value: '*', params: { y: '50px', delay: '800ms' } }">
    <h2 style="margin-left:37px;margin-top: 15px;">Daily Yelp Consumption</h2>
    <mat-card class="">
      <div echarts [options]="dailyTrafficChartBar" [autoResize]="true" style="height: 250px;"></div>
      <!-- </mat-card>                                  ERROR COMMENTED-->
      <mat-card class="p-0">
        <!-- <mat-card-title class="mb-1"> -->
        <!-- <div class="card-title-text">
          <span class="font-weight-normal">Top Campaign Performance</span>

          <span fxFlex></span>
          <button class="card-control" mat-icon-button [matMenuTriggerFor]="menu2">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu2="matMenu">
            <button mat-menu-item>
              <mat-icon>settings</mat-icon>
              <span>Campaign Settings</span>
            </button>
            <button mat-menu-item>
              <mat-icon>do_not_disturb</mat-icon>
              <span>Disable All Campaigns</span>
            </button>
            <button mat-menu-item>
              <mat-icon>close</mat-icon>
              <span>Remove panel</span>
            </button>
          </mat-menu>
        </div> -->
        <!-- <mat-divider></mat-divider> -->
        <!-- </mat-card-title> -->
        <h2 style="margin-left:26px;margin-top: 15px;">Progress</h2>
        <mat-card-content>
          <div class="mb-1">
            <p class="m-0">
              Parents <span class="text-muted">| {{parents.length}}</span>
            </p>
            <mat-progress-bar color="warn" mode="determinate" [value]="parents.length/100" class="rounded"
              style="height: 6px">
            </mat-progress-bar>
          </div>
          <div class="mb-1">
            <p class="m-0 text-13">
              Providers <span class="text-muted">| {{providers.length}}</span>
            </p>
            <mat-progress-bar class="" color="primary" mode="determinate" [value]="providers.length/100" class="rounded"
              style="height: 6px">
            </mat-progress-bar>
          </div>
          <div class="mb-1">
            <p class="m-0 text-13">
              Programs <span class="text-muted">| {{programs.length}}</span>
            </p>
            <mat-progress-bar class="" color="accent" mode="determinate" [value]="programs.length/100" class="rounded"
              style="height: 6px">
            </mat-progress-bar>
          </div>
          <div class="">
            <p class="m-0 text-13">
              child <span class="text-muted">| {{children.length}}</span>
            </p>
            <mat-progress-bar class="" color="warn" mode="determinate" [value]="children.length/100" class="rounded"
              style="height: 6px">
            </mat-progress-bar>
          </div>
        </mat-card-content>
      </mat-card>
      <h2 style="margin-left:26px;margin-top: 10px;">User Activities</h2>
      <mat-card>
        <mat-table [dataSource]="countryTrafficStats" matSort>
          <!-- <p class="">User According Country</p> -->
          <ng-container matColumnDef="country">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              Active Users
            </mat-header-cell>
            <mat-cell *matCellDef="let row" data-label="id">
              <!-- <span class="flag-icon {{ row.flag }}"></span>-->
              {{ row.country }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="visitor">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              Daily
            </mat-header-cell>
            <mat-cell *matCellDef="let row" data-label="progress">
              {{ row.visitor }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="pageView">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              Weekly
            </mat-header-cell>
            <mat-cell *matCellDef="let row" data-label="name">
              {{ row.pageView }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="download">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              Monthly
            </mat-header-cell>
            <mat-cell *matCellDef="let row" data-label="color">
              {{ row.download }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="bounceRate">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              Yearly
            </mat-header-cell>
            <mat-cell *matCellDef="let row" data-label="color">
              {{ row.bounceRate }}
            </mat-cell>
          </ng-container>

          <!-- <ng-container matColumnDef="action">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Action </mat-header-cell>
              <mat-cell *matCellDef="let row"> 
                <button mat-button><mat-icon>keyboard_arrow_right</mat-icon></button>
              </mat-cell>
            </ng-container> -->

          <mat-header-row *matHeaderRowDef="[
              'country',
              'visitor',
              'pageView',
              'download',
              'bounceRate'
            ]"></mat-header-row>
          <mat-row *matRowDef="
              let row;
              columns: [
                'country',
                'visitor',
                'pageView',
                'download',
                'bounceRate'
              ]
            ">
          </mat-row>
        </mat-table>
      </mat-card>

      <!-- </div>                             ERROR COMMENTED         -->

      <!--/ End 3rd row, 1st column -->

      <!-- 3rd row, 2nd column -->
      <!-- <div
    fxFlex="100"
    fxFlex.gt-sm="66.67"
    fxFlex.sm="50"
    [@animate]="{ value: '*', params: { y: '50px', delay: '1000ms' } }"
  > -->
      <!-- <div fxLayout="row wrap">
      <div fxFlex="100"
      fxFlex.gt-sm="50">
        <mat-card class="p-0">
          <div fxLayout="row wrap">
            <div fxFlex="40" class="p-1">
              <p class="">TRAFFIC</p>
              <p class="text-24 text-green font-weight-bold mb-0">
                27% <span class="material-icons">arrow_drop_up</span>
              </p>
              <p class="text-muted m-0">This Week</p>
            </div>
            <div fxFlex="60">
              <div
                echarts
                [options]="trafficGrowthChart"
                [autoResize]="true"
                style="height: 150px; right: -1px"
              ></div>
            </div>
          </div>
        </mat-card>
      </div>
      <div fxFlex="100"
      fxFlex.gt-sm="50">
        <mat-card class="p-0">
          <div fxLayout="row wrap">
            <div fxFlex="40" class="p-1">
              <p class="">Bounce Rate</p>
              <p class="text-24 text-red font-weight-bold mb-0">
                20% <span class="material-icons">arrow_drop_up</span>
              </p>
              <p class="text-muted m-0">This Week</p>
            </div>
            <div fxFlex="60">
              <div
                echarts
                [options]="bounceRateGrowthChart"
                [autoResize]="true"
                style="height: 150px; right: -1px"
              ></div>
            </div>
          </div>
        </mat-card>
      </div>
    </div> -->


      <!-- </div> -->
      <!--/ End 3rd row, 2nd column -->
      <!-- </div>                                                            ERROR COMMENTED -->