<div>
    <button style="align-items:flex-end;margin: 15px;" mat-raised-button (click)="add()"
    color="primary">ADD</button>
   <h3 style="text-align: center;">Tags</h3>

  <!-- <mdb-icon fas icon="search" aria-hidden="true"></mdb-icon> -->
  <!-- <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search" aria-label="Search" mdbInput> -->
  <!-- <div class="app-loader">
      <div class="spinner">
          <div class="double-bounce1 mat-bg-primary" style="background: #fcc02e;"></div>
          <div class="double-bounce2 mat-bg-accent" style="background: #03a9f4;"></div>
      </div>
  </div> -->
  <!-- <mat-form-field style="width: 100%">
      <input 
      matInput 
      placeholder="Search" 
      value=""
      (keyup)='updateFilter($event)'/>
    </mat-form-field> -->
    <mat-form-field style="width: 100%">
        <input matInput placeholder="Search" value="" (keyup)='updateFilter($event)' />
    </mat-form-field>

  <ngx-datatable [rows]="rows" class="material bg-white" [limit]="8" [scrollbarH]="true" [rowHeight]="50"
  [columnMode]="ColumnMode.force" [headerHeight]="50" [footerHeight]="50" [sorts]="[{ prop: 'name', dir: 'desc' }]">
      <ngx-datatable-column name="Name">
         
          <ng-template let-row="row" ngx-datatable-cell-template>
              {{row.name}}
          </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Description">
          
          <ng-template let-row="row" ngx-datatable-cell-template>
              {{row.description}}
          </ng-template>
      </ngx-datatable-column>
    
      <!-- <ngx-datatable-column>
          <ng-template let-column="column" ngx-datatable-header-template>
              Gender
          </ng-template>
          <ng-template let-row="row" ngx-datatable-cell-template>
              {{row.gender}}
          </ng-template>
      </ngx-datatable-column> -->

      <ngx-datatable-column name="Action">
          
          <!-- <div *ngIf="isLoading">
              <div class="loader"></div>
          </div> -->
          <ng-template let-row="row" ngx-datatable-cell-template>
            <mat-icon matTooltip="edit" matTooltipPosition="above" (click)="edit(row)">edit</mat-icon>

          </ng-template>
      </ngx-datatable-column>
  </ngx-datatable>
</div>