<div>
    <button mat-raised-button (click)="add()"
    style="margin: 15px;"
    color="primary">ADD</button>
    <h3 style="text-align: center;">Category List</h3>

    <mat-form-field style="width: 100%">
        <input matInput placeholder="Search" value="" (keyup)='updateFilter($event)' />
    </mat-form-field>

  <ngx-datatable [rows]="rows" class="material bg-white" [limit]="8" [scrollbarH]="true" [rowHeight]="50"
  [columnMode]="ColumnMode.force" [headerHeight]="50" [footerHeight]="50" [sorts]="[{ prop: 'name', dir: 'desc' }]">
      <ngx-datatable-column name="Name">
         
          <ng-template let-row="row" ngx-datatable-cell-template>
              {{row.name}}
          </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Description">
         
        <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.description}}
        </ng-template>
    </ngx-datatable-column>

      <ngx-datatable-column name="Action">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <mat-icon matTooltip="edit" matTooltipPosition="above" (click)="edit(row)">edit</mat-icon>
            <mat-icon matTooltip="delete" matTooltipPosition="above" color="warn">delete</mat-icon>


          </ng-template>
      </ngx-datatable-column>
  </ngx-datatable>
</div>