
<mat-card class="p-0">
  <mat-card-title class="">
      <div class="card-title-text">
          Update Category
      </div>
      <mat-divider></mat-divider>
  </mat-card-title>
  <mat-card-content>
      <form [formGroup]="categoryForm" (ngSubmit)="onSubmit()">
          <div fxLayout="row wrap">
              <div fxFlex="100" fxFlex.gt-xs="100" class="pr-1">
                  <div class="pb-1">
                      <mat-form-field class="full-width">
                          <input matInput name="name" placeholder="Category Name"
                          formControlName="name"
                              [(ngModel)]="category.name">
                      </mat-form-field>
                  </div>


                      <div class="pb-1">
                          <mat-form-field class="full-width">
                              <input matInput name="name" placeholder="Description"
                              formControlName="description"
                                  [(ngModel)]="category.description">
                          </mat-form-field>
                      </div>

                  </div>
              </div>
          
              <button mat-raised-button color="warn" (click)="back()">Back</button>
              <button style="align-items:flex-end;margin-left: 15px;"
               mat-raised-button color="primary"[disabled]="categoryForm.invalid">Update</button>
      </form>
  </mat-card-content>
</mat-card>