<div>
    <br>
    <h3 style="text-align: center;">Claims List</h3>

    <mat-form-field style="width: 100% ;">
        <input matInput placeholder="Search" value="" (keyup)='updateFilter($event)' />
    </mat-form-field>

    <ngx-datatable [rows]="rows" class="material bg-white" [limit]="8" [scrollbarH]="true"
        [columnMode]="ColumnMode.force" [rowHeight]="50" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
        [sorts]="[{ prop: 'name', dir: 'desc' }]">
        <ngx-datatable-column name="#">
            <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                {{rowIndex+1}}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Name">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.requestOn.firstName}}
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Status">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.status}}
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Email">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.requestOn.email}}
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Action">
            <ng-template let-row="row" ngx-datatable-cell-template>

                <!-- <mat-icon matTooltip="edit" matTooltipPosition="above" (click)="edit(row)">edit</mat-icon>
                    <mat-icon matTooltip="delete" matTooltipPosition="above" color="warn">delete</mat-icon>
                    <mat-icon matTooltip="manage" matTooltipPosition="above">open_in_new</mat-icon> -->
                <!-- <mat-icon (click)="activeSkill($event)" color="primary">edit</mat-icon> -->
                <!-- <mat-chip matTooltip="status" matTooltipPosition="above" mat-sm-chip selected
                        style="background-color: green;">active</mat-chip> -->

                <button mat-icon-button [matMenuTriggerFor]="msgMenu" class="hidden-on-open">
                    <mat-icon class="text-muted">more_vert</mat-icon>
                </button>
                <mat-menu #msgMenu="matMenu">
                    <button mat-menu-item (click)="claimActionToApprove(row)">
                        Approve
                    </button>
                    <button mat-menu-item (click)="claimActionToReject(row)">
                        Reject
                    </button>
                </mat-menu>

            </ng-template>
        </ngx-datatable-column>


    </ngx-datatable>
</div>