<mat-card>
  <mat-card-title class="">
    <div class="card-title-text">Program Details</div>
    <mat-divider></mat-divider>
  </mat-card-title>
  <mat-card-content>
    <mat-horizontal-stepper [linear]="true" #stepper>

      <mat-step [stepControl]="firstFormGroup">

        <form [formGroup]="firstFormGroup">
          <ng-template matStepLabel>Add Program: Select Type</ng-template>

          <mat-form-field class="width">
            <mat-label>PROGRAM TYPE</mat-label>
            <mat-select [formControl]="firstFormGroup.controls['type']" [(ngModel)]="program.type" required>

              <mat-option selected value="single">One Time Scheduled Event</mat-option>
              <mat-option value="scheduled">Multi-Event/Series</mat-option>
              <mat-option value="unScheduled">Un-Scheduled</mat-option>


            </mat-select>
          </mat-form-field>

          <div>
            <button mat-raised-button color="primary" matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup">
          <ng-template matStepLabel>Add Program: Basic Details</ng-template>

          <!-- <mat-form-field class=" pb-1">

            <input matInput type="file" formControlName="imageUpload" (change)="onFileChanged($event)" />
          </mat-form-field>

          <br /> -->



          <mat-form-field class="width">
            <mat-label>PROGRAM NAME</mat-label>
            <input matInput placeholder="Type" [formControl]="secondFormGroup.controls['name']"
              [(ngModel)]="program.name" required>
          </mat-form-field>

          <br />

          <mat-label>INTRESTS</mat-label>
          <div class="width">
            <ng-autocomplete [data]="tags" [searchKeyword]="keyword" (selected)='selectEvent($event)'
              (inputChanged)='onChangeSearch($event)' (inputFocused)='onFocused($event)' [itemTemplate]="itemTemplate"
              [notFoundTemplate]="notFoundTemplate" required>
            </ng-autocomplete>

            <ng-template #itemTemplate let-item>
              <a [innerHTML]="item.name"></a>
            </ng-template>

            <ng-template #notFoundTemplate let-notFound>
              <div *ngIf="tags.length" [innerHTML]="notFound"></div>
            </ng-template>
          </div>
          <br>
          <mat-form-field class="width">
            <mat-chip-list>
              <mat-chip *ngFor="let t of tag;let indx=index;" [selectable]="selectable" [removable]="removable"
                (removed)="remove(t)">
                {{t.name}}
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
              </mat-chip>
            </mat-chip-list>
          </mat-form-field>

          <br />


          <div class="width">
            <mat-label>AGE GROUP</mat-label>
            <!-- <mat-slider thumbLabel="true" min="1" max="5" step="1" value="3"></mat-slider>
            <textarea matInput hidden></textarea> -->
            <ng5-slider [(value)]="minAge" [(highValue)]="maxAge" [options]="ageOption">
            </ng5-slider>
          </div>

          <br />

          <mat-form-field class="width">
            <mat-label>DESCRIPTION</mat-label>
            <textarea matInput #Description maxlength="3000" placeholder="Type"
              [formControl]="secondFormGroup.controls['description']" [(ngModel)]="program.description"
              required></textarea>
            <mat-hint align="end">{{Description.value?.length  || 0}} / 3000</mat-hint>

          </mat-form-field>

          <br />

          <mat-form-field class="width">
            <mat-label>START DATE</mat-label>
            <input matInput name="date1" type="date" placeholder="Type"
              [formControl]="secondFormGroup.controls['startDate']" [(ngModel)]="startDate"
              [matDatepicker]="appDatepicker1" required>
            <!-- <mat-datepicker-toggle matSuffix [for]="appDatepicker1"></mat-datepicker-toggle> -->
            <mat-datepicker #appDatepicker1></mat-datepicker>
          </mat-form-field>

          <br />

          <mat-form-field class="width">
            <mat-label>END DATE</mat-label>
            <input matInput name="date2" type="date" placeholder="Type"
              [formControl]="secondFormGroup.controls['endDate']" [(ngModel)]="endDate" [matDatepicker]="appDatepicker"
              required>
            <!-- <mat-datepicker-toggle matSuffix [for]="appDatepicker"></mat-datepicker-toggle> -->
            <mat-datepicker #appDatepicker></mat-datepicker>
          </mat-form-field>

          <br />

          <mat-form-field class="width">
            <mat-label>START TIME</mat-label>
            <input matInput name="time1" type="time" placeholder="Type" [(ngModel)]="startTime"
              [formControl]="secondFormGroup.controls['startTime']" required>
          </mat-form-field>

          <br />

          <mat-form-field class="width">
            <mat-label>END TIME</mat-label>
            <input matInput name="time2" type="time" placeholder="Type" [(ngModel)]="endTime"
              [formControl]="secondFormGroup.controls['endTime']" required>
          </mat-form-field>

          <br />

          <!-- <mat-form-field class="width">
            <mat-label>SELECT ASSOCIATES</mat-label>
            <mat-select [formControl]="secondFormGroup.controls['associates']" required>

              <mat-option value="test1">test1</mat-option>
              <mat-option value="test2">test2</mat-option>
              <mat-option value="test3">test3</mat-option>


            </mat-select>
          </mat-form-field>
          <br /> -->


          <div>
            <mat-label style="font-size: 0.875rem !important;">IS IT A FREE PROGRAM ?</mat-label>
            <mat-slide-toggle [formControl]="secondFormGroup.controls['isFree']" [(ngModel)]="program.isFree"><span
                class="text-invisible"></span></mat-slide-toggle>

          </div>

          <br />
          <div *ngIf="!program.isFree">
            <mat-form-field class="width">
              <mat-label>PRICE PER PARTICIPANT</mat-label>
              <input matInput name="price" placeholder="Type" [(ngModel)]="program.pricePerParticipant"
                [formControl]="secondFormGroup.controls['pricePerParticipant']">
              <span matPrefix>$&nbsp;</span>

            </mat-form-field>

            <br />

            <mat-form-field class="width">
              <mat-label>PRICE FOR SIBLINGS</mat-label>
              <input matInput name="pricee" placeholder="Type" [(ngModel)]="program.priceForSiblings"
                [formControl]="secondFormGroup.controls['priceForSiblings']">
              <span matPrefix>$&nbsp;</span>

            </mat-form-field>
          </div>
          <br />
          <!-- <mat-form-field floatLabel="always" appearance="none" class="width"> -->

          <!-- <div>
            <p>Upload a profile picture</p>
            <input type="file" ng2FileSelect [uploader]="uploader" />
          </div> <br /> -->
          <div class="width">
            <div>
              <p>Upload a program picture</p>
              <input #file accept="image/*" (change)="fileSelect($event)" type="file" name="myfile" />
            </div><br />
            <span style="color:red;" *ngIf="msg">{{msg}}</span>
            <img [src]="imgURL" height="100" *ngIf="imgURL"><br>
          </div>

          <div fxLayout="row">
            <button mat-raised-button color="red" matStepperPrevious>Back</button>
            <span fxFlex="8px"></span>
            <button mat-raised-button color="primary" matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="thirdFormGroup">
        <form [formGroup]="thirdFormGroup">
          <ng-template matStepLabel>Add Program: Other Details</ng-template>
          <mat-form-field class="width">
            <mat-label>DEFAULT EMAIL</mat-label>
            <input matInput placeholder="Address" type="email" [(ngModel)]="program.email"
              [formControl]="thirdFormGroup.controls['email']" required>
          </mat-form-field>
          <br />

          <mat-form-field class="width">
            <mat-label>SPECIAL INSTRUCTIONS</mat-label>
            <textarea matInput #Instruction maxlength="3000" placeholder="Type"
              [(ngModel)]="program.specialInstructions" [formControl]="thirdFormGroup.controls['specialInstructions']"
              required></textarea>
            <mat-hint align="end">{{Instruction.value?.length  || 0}} / 3000</mat-hint>
          </mat-form-field>
          <br />


          <div>
            <mat-label style="font-size: 0.875rem !important;">ADULT ASSISTANCE IS REQUIRED</mat-label>
            <mat-slide-toggle [formControl]="thirdFormGroup.controls['adultAssistanceIsRequried']"
              [(ngModel)]="program.adultAssistanceIsRequried"><span class="text-invisible"></span></mat-slide-toggle>

          </div>



          <br />

          <div class="width">
            <mat-label>CAPACITY</mat-label>
            <br>
            <br>
            <ng5-slider [(value)]="minCapacity" [(highValue)]="maxCapacity" [options]="capacityOption">
            </ng5-slider>
          </div>


          <br />


          <mat-form-field class="width">
            <mat-label>BOOKING CAN'T BE CANCELED BEFORE (days)</mat-label>
            <input matInput placeholder="Days" [formControl]="thirdFormGroup.controls['days']"
              [(ngModel)]="bookingCancelledIn.days" required>

          </mat-form-field>
          <br />
          <mat-form-field class="width">
            <mat-label>BOOKING CAN'T BE CANCELED BEFORE (hours)</mat-label>
            <input matInput placeholder="Hours" [formControl]="thirdFormGroup.controls['hours']"
              [(ngModel)]="bookingCancelledIn.hours" required>
          </mat-form-field>
          <br />

          <mat-form-field class="width">
            <mat-label>ADDRESS</mat-label>
            <input matInput placeholder="Type" [formControl]="thirdFormGroup.controls['addresses']"
              [(ngModel)]="program.addresses" required>
          </mat-form-field>
          <br />


          <div fxLayout="row">
            <button mat-raised-button color="red" matStepperPrevious>Back</button>
            <span fxFlex="8px"></span>
            <button *ngIf="program.type !=='unScheduled'" mat-raised-button color="accent" (click)="openPopUp()">Add
              Batch</button>
            <span fxFlex="8px"></span>
            <button mat-raised-button color="primary" matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <div>
          <mat-icon class="pt-1" [style.fontSize]="'36px'">check</mat-icon>
        </div>
        <div class="width"> You Are Done.</div>
        <div fxLayout="row">
          <button mat-raised-button color="red" matStepperPrevious>Back</button>
          <span fxFlex="8px"></span>
          <button mat-raised-button color="primary" (click)="submit()">Submit</button>
        </div>
      </mat-step>

    </mat-horizontal-stepper>
  </mat-card-content>
</mat-card>