<div>
    <button style="margin: 15px;" mat-raised-button (click)="add()" color="primary">ADD</button>
    <h3 style="text-align: center;">Parents List</h3>

    <!-- <mdb-icon fas icon="search" aria-hidden="true"></mdb-icon> -->
    <!-- <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search" aria-label="Search" mdbInput> -->
    <!-- <div class="app-loader">
        <div class="spinner">
            <div class="double-bounce1 mat-bg-primary" style="background: #fcc02e;"></div>
            <div class="double-bounce2 mat-bg-accent" style="background: #03a9f4;"></div>
        </div>
    </div> -->
    <mat-form-field style="width: 100% ;">
        <input matInput placeholder="Search" value="" (keyup)='updateFilter($event)' />
    </mat-form-field>

    <ngx-datatable [rows]="rows" class="material bg-white" [limit]="8" [scrollbarH]="true"
        [columnMode]="ColumnMode.force" [rowHeight]="50" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
        [sorts]="[{ prop: 'name', dir: 'desc' }]">
        <ngx-datatable-column name="First Name">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.firstName}}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Last Name">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.lastName}}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Email">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.email}}
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Phone No.">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.phoneNumber}}
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Status">
            <ng-template let-row="row" ngx-datatable-cell-template>
                <mat-chip *ngIf="row.isActivated===true" matTooltip="status" matTooltipPosition="above" mat-sm-chip
                    selected style="background-color: green;" (click)="parentActiveInActive(row)">active</mat-chip>
                <mat-chip *ngIf="row.isActivated===false" matTooltip="status" matTooltipPosition="above" mat-sm-chip
                    selected style="background-color: red;" (click)="parentActiveInActive(row)">inActive</mat-chip>
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Action">
            <ng-template let-row="row" ngx-datatable-cell-template>
                <!-- <mat-icon matTooltip="edit" matTooltipPosition="above" (click)="edit(row)">edit</mat-icon>
                <mat-icon matTooltip="delete" matTooltipPosition="above" color="warn">delete</mat-icon>
                <mat-icon matTooltip="logout" matTooltipPosition="above" >dynamic_feed</mat-icon> 
                <mat-icon matTooltip="manage" matTooltipPosition="above" (click)="parentProfile(row)">open_in_new
                </mat-icon> -->
                <button mat-icon-button [matMenuTriggerFor]="msgMenu" class="hidden-on-open">
                    <mat-icon class="text-muted">more_vert</mat-icon>
                </button>
                <mat-menu #msgMenu="matMenu">
                    <button mat-menu-item (click)="edit(row)">
                        <mat-icon>edit</mat-icon>Edit
                    </button>
                    <button mat-menu-item (click)="deleteParent(row)">
                        <mat-icon>delete</mat-icon>Delete
                    </button>
                    <button mat-menu-item>
                        <mat-icon>dynamic_feed</mat-icon>Logout
                    </button>
                    <button mat-menu-item (click)="parentProfile(row)">
                        <mat-icon>open_in_new</mat-icon>Manage
                    </button>

                </mat-menu>

            </ng-template>
        </ngx-datatable-column>
    </ngx-datatable>
</div>